<h1>Dragonball Page</h1>
<hr/>

<section class="row">
    <div class="col-12 col-sm-6">
        <h3>Agregar:</h3>
        <input type="text" class="form-control" placeholder="Nombre">
        <input type="number" class="form-control mt-2" placeholder="Poder">

        <button class="mt-2 btn btn-primary">
            Agregar
        </button>
    </div>

    <div class="col-12 col-sm-6">
        <h3>Listado</h3>
        <ol>
            @for (character of characters(); track character.id) { <!-- No se recomienda usar el index para el track -->
            <li>
                <span>{{ character.name }}</span>
                <strong class="text-danger"> ({{ character.power }})</strong>
            </li>
            }
        </ol>
    </div>

    <div class="col-12 col-sm-6">
        <h3>Listado no ordenado</h3>
        <ul>
            @for (character of characters(); track character.id; let idx = $index) { <!-- No se recomienda usar el index para el track -->
            <li>
                <span>{{idx + 1}} - {{ character.name }}</span>
                <strong 
                    [class.text-danger]="character.power > 8000"
                    [class.text-primary]="character.power < 8000"
                > 
                    ({{ character.power }})
                </strong>
            </li>
            }
        </ul>
    </div>
</section>
